@font-face {
  font-family: 'Interstate';
  src: url('fonts/interstate/interstate.eot'); /* IE9 Compat Modes */
  src: url('fonts/interstate/interstate.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/interstate/interstate.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/interstate/interstate.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/interstate/interstate.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/interstate/interstate.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Apercu';
  src: url('fonts/Apercu/apercu-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/Apercu/apercu-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Apercu/apercu-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Apercu/apercu-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Apercu/apercu-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Apercu/apercu-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	margin:0;
	min-width: 800px;
	font-size: 1.0em;
}

.headerlink:hover {
    color: white !important;
    background-color: #00C489;
}

.header-left:hover {
	color: white !important;
    background-color: #00C489;
}

a:link {
	text-decoration: none;
	color:black;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

.section a:hover {
	background-color: #00C489;
}

.nav {
	position: fixed;
	min-width: 700px;
	min-height: 70.5px;
	height: 10vh;
	background-color: #ffc8d5;
	width: 100vw;
	z-index: 1;
	top: 0px;
}

.header-left {
	position: absolute;
	left: 0;
	margin: 13px;
	padding: 6px 6px 0px 6px;
	font-size: 32px;
	font-weight: bold;
	font-family: 'Interstate', futura, sans-serif;
}

.header-right{
	position: absolute;
	right:0;
	text-align: right;
	margin: 30px;
	font-family: "Apercu", sans-serif;
	font-size:18px;
}

.headerlink{
	
	padding: 10px;
}

.section {
	display: inline-block;
	height: 90vh;
	min-height: 460px;
	width: 100%;
	/*background-color: yellow;*/
	background-size: cover;
	clear: both;

	display: flex;
	justify-content: center;
	align-items: center;
}

.paintings {
	background-image: url(paintings/paintings_banner.png);
	background-position: bottom;
	margin-top: 10vh;
}

.studies {
	background-image: url(studies/studies_banner.png);
}

.other {
	background-image: url(other/IMG_7905.jpg);
}

.title {
	margin: auto;
	text-align: center;
	border: 13px solid white;
	color: white;
	padding: 40px 60px 40px 60px;
	width: auto;
	height: auto;
	position: relative;
	top: 0px;
	
	font-size: 40px;
	font-weight: bold;
	font-family: 'Interstate', sans-serif;
	z-index: auto;

	color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.about {
	position: absolute;
	height: 90vh;
	min-height: 460px;
	width: 100%;
	min-width: 800px;
	background-color: #ffc8d5;

	display: flex;
	justify-content: center;
	align-items: center;
}

.description {
	display: inline-block;
	margin-top: 30px;
	line-height: 35px;
	font-size: 24px;
	font-family: 'Apercu', sans-serif;
	text-align: left;
	padding: 5px;
}
.description > b {
	font-family: 'interstate', sans-serif;
}

.circle {
	display: inline-block;
	width:200px;
	height:200px;
	border-radius:50%;
	font-size:45px;
	color:#fff;
	line-height:200px;
	text-align:center;
	vertical-align: top;
	font-family: 'Bembo', serif;
	font-style: italic;
	background:#000;
	border: 30px solid #00C489;
}

.image {
	text-align: center;
	position: relative;
}
.image img {
	min-height: 550px;
	height: 86vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
}
.image.P1 {
	margin-top: 10vh;
}

.label {
	display: none;
	position: absolute;
    bottom: 2vh;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    padding: 2vh 0 2vh 0;
    font-family: 'futura', sans-serif;
    font-size: 15px;
}

.labeldescr {
	font-size: 15px;
	line-height: 20px;
}


.label:hover ,
.img:hover + .label {
	display: block;
}

